<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="assets/images/users/profile.png" alt="user" /><span class="hide-menu">Steave Jobs </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="javascript:void()">Perfil </a></li>
                        <li><a href="javascript:void()">Configuración</a></li>
                        <li><a href="javascript:void()">Cerrar Sesión</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">ALIMENTO</li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Alimentos</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="index.html">Alimento </a></li>
                        <li><a href="index2.html">Categoria</a></li>
                        <li><a href="index2.html">Medida Caseras</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-bullseye"></i><span class="hide-menu">Lista Nutricional</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="app-calendar.html">Cargar Lista Nutricional</a></li>
                    </ul>
                </li>
                <li class="nav-small-cap">PACIENTE</li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">Datos del Paciente</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="table-basic.html">Pacientes</a></li>
                        <li><a href="table-basic.html">Patologias</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-widgets"></i><span class="hide-menu">Localización</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="widget-data.html">Nacionalidades</a></li>
                        <li><a href="widget-apps.html">Ciudades</a></li>
                        <li><a href="widget-charts.html">Provincias</a></li>
                    </ul>
                </li>
                <li class="nav-small-cap">PLAN ALIMENTARIO</li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-book-multiple"></i><span class="hide-menu">Menu</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="layout-fix-sidebar.html">Generar Plan Alimentario</a></li>
                        <li><a href="layout-single-column.html">Recetas</a></li>
                        <li><a href="layout-fix-header.html">Momento de Alimentación</a></li>
                        <li><a href="layout-fix-header-sidebar.html">Formula Calorica</a></li>
                    </ul>
                </li>

                <li class="nav-small-cap">USUARIO</li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-widgets"></i><span class="hide-menu">Datos del Usuario</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="widget-data.html">Usuarios</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->